.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../src/assets/bg_mobile.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #fff; */
}

.container .social-decoration {
  position: absolute;
  bottom: 30px;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clock_content h1 {
  color: var(--white-color);
  font-size: 48px;
  margin-bottom: 14px;
  font-weight: 500;
  font-family: 'Londrina Outline', sans-serif;
}

.clock_content h2 {
  color: var(--white-color);
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 46px;
  font-family: 'Libre Franklin', sans-serif;
}

.clock_content h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 36px;
  font-family: 'Poppins', sans-serif;
}

.email-input {
  display: flex;
  align-items: center;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #ffffff78;
  outline: none;
  padding-left: 12px;
  border-color: #ffffff78;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #ffffff15;
  color: white;
  font-family: 'Inter', sans-serif;
}

.email-input::placeholder {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.button {
  width: 115px;
  height: 45px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #000;
  background-color: var(--white-color);
  border: none;
  border-radius: 12px;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.03);
  transition: transform 0.3s ease;
}


.timer-container {
  display: flex;
}

.countdown-container {
  border: 2px solid #FFF;
  height: 65px;
  width: 65px;
  margin-bottom: 12px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #FFF;
  justify-content: center;
  position: relative;
  align-items: center;
}

.countdown-container .countdown {
  display: flex;
  height: 65px;
  width: 65px;
  justify-content: center;
  align-items: center;
}

.countdown-container .timer-bg {
  position: absolute;
  top: 0;
  left: -2px;
}

.countdown-container .timer-bg img {
  width: 65px;
  position: absolute;
  top: -2px;
}

.timer-container .dots {
  font-size: 27px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

.timer-container .timer-text {
  width: 90px;
  justify-content: center;
  display: flex;
  margin-bottom: 21px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.social-decoration {
  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
  outline: none;
}

.social-icons {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 50px;
  margin-right: 5px;
  outline: none;
  font-size: 24px;
  border-radius: 50px 0 0 50px;
  transition: all 0.3s ease;
  border: none;
  background-color: white;
  color: black;
}

.social-icons:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.social-icons:hover+.social-icons,
.social-icons:hover~.social-icons {
  transform: scale(0.9);
}

/* Loading.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #050505;
}

.loader {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../src/assets/giphy.gif');
  width: 500px;
  height: 500px;
}


@media (min-width: 900px) {
  .clock_content h1 {
    font-size: 110px;
    margin-bottom: 16px;
    font-family: 'Londrina Outline', sans-serif;
    letter-spacing: 6px;
  }

  .clock_content h2 {
    font-size: 60px;
    margin-bottom: 70px;
  }

  .container .social-decoration {
    position: absolute;
    right: 0%;
    bottom: 40px;
    display: flex;
    align-items: flex-start;
  }

  .clock_content h3 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 34px;
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;
  }

  .email-input {
    display: flex;
    align-items: center;
    width: 374px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid #ffffff78;
    padding-left: 25px;
    outline: none;
    border-color: #ffffff78;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #ffffff15;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .email-input::placeholder {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .button {
    width: 200px;
    height: 75px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #000;
    background-color: var(--white-color);
    border: none;
    border-radius: 12px;
    outline: none;
  }

  .button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .timer-container {
    display: flex;
  }

  .countdown-container {
    border: 2px solid #FFF;

    height: 120px;
    width: 120px;
    margin-bottom: 16px;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    justify-content: center;
    position: relative;
    align-items: center;
  }

  .countdown-container .countdown {
    display: flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
  }

  .countdown-container .timer-bg {
    position: absolute;
    top: 0;
    left: -2px;
  }

  .countdown-container .timer-bg img {
    width: 120px;
    position: absolute;
    top: -2px;
  }

  .timer-container .dots {
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .timer-container .timer-text {
    width: 160px;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }

  .container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('../src/assets/bg.png');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 70px;
    height: 55px;
    padding: 12px;
    outline: none;
    align-items: center;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    border-radius: 50px 0 0 50px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
  }
}